@import 'http://fonts.googleapis.com/css?family=Lobster';

body{
  background-image: url(restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

span{
  color: red;
  font-weight: bold;
  font-size: 2.5vw;
  background-color: white;
}

.heading{
    text-align: center;
}

.heading h1{
        
        background: #292929;
        font-size: 5.5vw;
        margin-top: 0;
        font-family: 'Lobster', helvetica, arial;
        text-decoration: none;
        color: #666;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
    }

.heading h1:after {
        content : 'Welcome to Restaurant';
        color: #d6d6d6;
        text-shadow: 0 1px 0 white;
    }


h1 {
  margin: 0 0 0.25em;
}
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
    margin-bottom: 50px;
  position: relative;
  display: flex;
  color: white;
  width: 50%;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

